./Transfer_Learning/data/
./Transfer_Learning/data
./QRS_Detector/data/
./QRS_Detector/data
.idea
.code
*.pdf
QRS_Detector/data/*
QRS_Detector/data*
*.atr
*.hea
*.dat
*.npy
logs/
Transfer_Learning/logs/
./Transfer_Learning/logs/
Transfer_Learning/logs
./Transfer_Learning/logs
QRS_Detector/logs/
./QRS_Detector/logs/
QRS_Detector/logs
./QRS_Detector/logs
~                             
